:root {
  --main-bg-color: #000;
  --main-text-color: #fff;
  --main-grey-color: #434343;
  --main-font-size: 22px;
}

.App {
  width: 100vw;
  background-color: var(--main-bg-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-size: calc(10px + 2vmin);
  color: var(--main-text-color);
  font-family: 'Old Standard TT', serif;
}

.hidden {
  display: none !important;
}

.cursor {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  width: 16px;
  height: 16px;
  background-color: transparent;
  border: 1px solid #fff;
  border-radius: 50%;
  transition: width 0.5s, height 0.5s;
}

/* soon */

.soon {
  width: 100vw;
  height: 95vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.soon h4,
.soon h5 {
  margin: 0;
}

.soon h5 {
  margin-bottom: 35px;
  font-weight: normal;
  letter-spacing: 6px;
  font-style: italic;
  font-size: 14px;
}

.soon h4 {
  margin-bottom: 0px;
  font-size: 32px;
}

/* brief */

.brief {
  width: 66vw;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  font-size: var(--main-font-size);
  margin-top: -40px;
}

.brief-text {
  width: 42%;
  margin-bottom: 159px;
  line-height: 1.6;
  font-size: 19px;
  text-align: justify;
  margin-left: -13%;
}

.brief-text:nth-child(2) {
  padding: 120px 0 100px 0;
  margin-top: -100px;
  margin-bottom: 80px;
}

.brief-text:nth-child(2):hover~.cursor {
  width: 74px;
  height: 74px;
  transition: width 0.5s, height 0.5s;
}

.water-women {
  position: absolute;
  top: 450px;
  right: 0;
  width: 564px;
}

.water-women-overlay {
  position: absolute;
  top: 450px;
  right: 0;
  width: 564px;
  height: 1080px;
  background: linear-gradient(90deg, rgba(0, 0, 0, 1) 0%, rgba(116, 157, 251, 0) 30%), linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(116, 157, 251, 0) 20%);
}

/* journey */

.journey {
  width: 97vw;
  display: flex;
  margin-bottom: 200px;
  margin-top: 30px;
}

.journey-step {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 25%;
}

.journey-title-play {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: 13px;
  font-weight: bold;
  width: 74%;
  margin-top: 30px;
}

.journey-description {
  font-size: 16px;
  margin-top: 30px;
  width: 72%;
  text-align: justify;
}

.journey a {
  background: url('../src/images/play-button.png');
  width: 24px;
  height: 24px;
  background-size: 24px 24px;
  background-position: center;
}

/* intencion */

.intencion {
  width: 50vw;
  height: 80px;
  margin-top: 20px;
  position: relative;
}

.mariposa-left {
  position: absolute;
  top: -110px;
  left: -110px;
}

.intencion-text {
  text-align: center;
  font-style: italic;
  font-size: 16px;
  color: #c7c7c7;
  line-height: 0.5;
}

.jimena {
  text-align: end;
  margin-right: 15.5%;
  font-size: 16px;
  margin-top: 25px;
  color: #c7c7c7;
}

/* footer */

footer {
  display: flex;
  font-size: 14px;
  width: 36%;
  height: 250px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 50px;
}

footer a {
  display: block;
  background-position: center;
}

.subscribe-icon {
  width: 32px;
  height: 32px;
  background: url('../src/images/subscribe.png');
  background-size: 32px 32px;
}

.instagram-icon {
  width: 36px;
  height: 36px;
  background: url('../src/images/instagram.jpg');
  background-size: 36px 36px;
  border-radius: 4px;
}

.mail-icon {
  width: 29px;
  height: 29px;
  background: url('../src/images/mail.png');
  background-size: 29px 29px;
}

.footer-div {
  position: relative;
}

footer p {
  position: absolute;
  width: 300px;
  animation: 1.75s anim-lineUp ease-out;
  top: 30px;
}

footer .subscribe-icon+p {
  right: calc(50% - 150px);
}

footer .instagram-icon+p {
  width: 330px;
  right: calc(50% - 168px);
}

footer .mail-icon+p {
  top: 24px;
  right: calc(50% - 236px);
}

@keyframes anim-lineUp {
  0% {
    opacity: 0;
    transform: translateY(80%);
  }

  20% {
    opacity: 0;
  }

  20% {
    opacity: 1;
    transform: translateY(0%);
  }

  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}

@media only screen and (max-width: 768px) {
  .cursor {
    display: none !important;
  }

  .soon {
    width: 100vw;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }

  .soon h4 {
    font-size: 22px;
  }

  .soon h5 {
    margin-bottom: 15px;
  }

  /* brief */

  .brief {
    width: 90vw;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    font-size: var(--main-font-size);
    margin-top: -30px;
  }

  .brief-text {
    margin-bottom: 35px;
    line-height: 1.4;
    font-size: 14px;
    text-align: inherit;
    margin-left: 4%;
  }

  .brief-text:nth-child(2) {
    padding: 0;
    margin-top: 0;
    margin-bottom: 35px;
  }

  .brief-text:nth-child(3) {
    width: 80vw;
  }

  .water-women {
    top: 650px;
    width: 204px;
  }

  .water-women-overlay {
    top: 650px;
    width: 204px;
    height: 392px;
  }

  /* journey */

  .journey-wrapper {
    width: 90vw;
    align-self: flex-start;
  }

  .journey {
    width: auto;
    margin-left: 9%;
    overflow-x: scroll;
    overflow-y: hidden;
  }

  .journey-img {
    margin-left: -25px;
  }

  .journey-step:nth-child(1)>.journey-img {
    margin-left: 0;
  }

  .journey-step {
    width: 80vw;
    margin-right: 20px;
  }

  .journey-step:nth-child(1) {
    align-items: flex-start;
  }

  .journey-step:nth-child(2) {
    margin-left: -7%;
  }

  .journey-title-play {
    width: 61vw;
    margin-top: 10px;
  }

  .journey-description {
    width: 60vw;
  }

    /* Adjusting journey carousel */

  .journey-step:nth-child(4) .journey-img {
    margin-top: 35px;
  }

  .journey-step:nth-child(4) .journey-title-play {
    margin-top: -24px;
  }

  .journey-step:nth-child(5) .journey-img {
    margin-top: 25px;
  }

  .journey-step:nth-child(5) .journey-title-play {
    margin-top: -14px;
    width: 53vw;
    margin-left: -25px;
  }

  .journey-step:nth-child(5) .journey-description {
    width: 53vw;
    margin-left: -25px;
  }

  /* intencion */

  .intencion {
    width: 80vw;
    margin-top: -30px;
  }

  .intencion-text {
    line-height: 1;
  }

  /* footer */

  footer {
    display: flex;
    font-size: 14px;
    width: 36%;
    height: 240px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 0px;
    margin-top: 140px;
  }

  footer a {
    display: block;
    background-position: center;
  }

  footer .subscribe-icon+p {
    right: calc(50% - 205px);
  }
}