:root {
  --main-bg-color: #282828;
  --second-bg-color: #232b2b;
  --third-bg-color: #343434;
  --fourth-bg-color: #0e1111;
  --fifth-bg-color: #120F10;
  --main-text-color: #f8f8f8;
  --main-grey-color: #434343;
  --main-font-size: 22px;
  --titles-font: 'DM Serif Display', serif;
  --text-font: 'DM Sans', sans-serif;
}

.App {
  width: 100vw;
  height: 100vh;
  background-color: var(--fourth-bg-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: var(--main-text-color);
  font-family: var(--text-font);
}

.hidden {
  display: none !important;
}

.proximamente {
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 3px;
  margin-top: -25px;
}

.title {
  font-size: 7vw;
  font-family: var(--titles-font);
  margin-top: -10px;
  margin-bottom: 0px;
  opacity: 0.7;
  z-index: 99;
  background: linear-gradient(90deg,  rgba(248,248,248, 1) 0%, rgba(241,243,249, 0.7) 25%, rgba(255,255,255, 0.4) 50%, rgba(241,243,249, 1) 85%, rgba(248,248,248, 1) 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.cards {
  width: 70vw;
  height: 40vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-bottom: -20px;
}

.card {
  width: 22%;
  border-radius: 18px;
  position: absolute;
}

.card:nth-child(1) {
  z-index: 1;
  transform: rotate(-6deg) translateY(-3%) translateX(-120%) scale(0.90);
}
.card:nth-child(2) {
  z-index: 2;
  transform: rotate(-4deg) translateY(-2%) translateX(-80%) scale(0.95);
}
.card:nth-child(3) {
  z-index: 3;
  transform: rotate(-2deg) translateY(-1%) translateX(-40%);
}
.card:nth-child(4) {
  z-index: 4;
  transform: scale(1.05);
}
.card:nth-child(5) {
  z-index: 3;
  transform: rotate(2deg) translateY(-1%) translateX(40%);
}
.card:nth-child(6) {
  z-index: 2;
  transform: rotate(4deg) translateY(-2%) translateX(80%) scale(0.95);
}
.card:nth-child(7) {
  z-index: 1;
  transform: rotate(6deg) translateY(-3%) translateX(120%) scale(0.90);
}

/* .card:nth-child(1) {
  z-index: 1;
  transform: rotate(-6deg) translateY(3%) translateX(-120%);
}
.card:nth-child(2) {
  z-index: 2;
  transform: rotate(-4deg) translateY(2%) translateX(-80%);
}
.card:nth-child(3) {
  z-index: 3;
  transform: rotate(-2deg) translateY(-1%) translateX(-40%);
}
.card:nth-child(4) {
  z-index: 4;
}
.card:nth-child(5) {
  z-index: 3;
  transform: rotate(2deg) translateY(1%) translateX(40%);
}
.card:nth-child(6) {
  z-index: 2;
  transform: rotate(4deg) translateY(2%) translateX(80%);
}
.card:nth-child(7) {
  z-index: 1;
  transform: rotate(6deg) translateY(3%) translateX(120%);
} */

.explanation {
  width: 40vw;
  text-align: center;
  font-size: 1.3vw;
  font-family: var(--text-font);
  font-weight: 300;
  margin-top: 100px;
  z-index: 10;
}

.creadores_desktop {
  position: absolute;
  bottom: 10px;
  left: 0;
  display: flex;
  width: 100vw;
  height: auto;
  justify-content: space-between;
  align-items: flex-end;
}

.creadores_desktop > p {
  width: 33%;
}

.creadores_desktop > .jimena {
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 1.5px;
  text-align: center;
}

.creadores_desktop > .carlos {
  font-size: 14px;
  font-weight: 400;
  text-align: end;
  margin-right: 2.5vw;
}

.creadores_desktop > .supreme {
  font-size: 14px;
  font-weight: 400;
  text-align: start;
  margin-left: 2.5vw;
}

.creadores_mobile {
  display: none;
}

@media only screen and (max-width: 768px) {
  .proximamente {
    margin-top: -120px;
  }
  
  .title {
    width: 90vw;
    font-size: 14vw;
    text-align: center;
    margin-top: 20px;
    margin-bottom: -30px;
    line-height: 1;
  }
  
  .cards {
    width: 100vw;
    height: 40vh;
    margin-bottom: 20px;
  }
  
  .card {
    width: 30%;
    border-radius: 10px;
    position: absolute;
  }
  
  .card:nth-child(1) {
    transform: rotate(-9deg) translateX(-80%) scale(0.90);
  }
  .card:nth-child(2) {
    transform: rotate(-6deg) translateX(-55%) scale(0.95);
  }
  .card:nth-child(3) {
    transform: rotate(-3deg) translateX(-30%);
  }
  .card:nth-child(5) {
    transform: rotate(3deg) translateX(30%);
  }
  .card:nth-child(6) {
    transform: rotate(6deg) translateX(55%) scale(0.95);
  }
  .card:nth-child(7) {
    transform: rotate(9deg) translateX(80%) scale(0.90);
  }
  
  .explanation {
    width: 70vw;
    font-size: 4vw;
    margin-top: 0px;
  }

  .creadores_desktop {
    display: none;
  }
  
  .creadores_mobile {
    position: absolute;
    bottom: 5px;
    left: 0;
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 45vw;
    justify-content: space-between;
    align-items: flex-end;
  }
  
  .creadores_mobile .jimena {
    width: 100vw;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 1.5px;
    text-align: center;
  }

  .creadores_mobile > div {
    width: 100vw;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
  }
  
  .creadores_mobile .carlos {
    font-size: 12px;
    margin-right: 5vw;
    text-align: end;
  }
  
  .creadores_mobile .supreme {
    font-size: 12px;
    margin-left: 5vw;
  }
}