:root {
  --main-bg-color: #282828;
  --second-bg-color: #232b2b;
  --third-bg-color: #343434;
  --fourth-bg-color: #0e1111;
  --fifth-bg-color: #120f10;
  --main-text-color: #f8f8f8;
  --main-grey-color: #434343;
  --main-font-size: 22px;
  --titles-font: "Anton", serif;
  --text-font: "DM Sans", sans-serif;
}

.App {
  width: 100vw;
  height: 100vh;
  background-color: var(--fourth-bg-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-size: calc(10px + 2vmin);
  color: var(--main-text-color);
  font-family: var(--text-font);
  overflow: hidden;
}

.hidden {
  display: none !important;
}

.proximamente {
  font-family: var(--titles-font);
  font-size: 1.5vw;
  letter-spacing: 4.5px;
  color: #bebebe;
  margin-top: 80px;
  animation: appearTop 1s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

@keyframes appearTop {
  0% {
    transform: translate(0, 200%);
  }
  100% {
    transform: translate(0, 0);
  }
}

@keyframes appearBottom {
  0% {
    transform: translate(0, -200%);
  }
  100% {
    transform: translate(0, 0);
  }
}

.explanation {
  display: flex;
  justify-content: space-between;
  width: 95vw;
  height: 10vh;
  font-size: 1.2vw;
  font-family: var(--text-font);
  font-weight: 300;
  margin-top: 30px;
  z-index: 10;
}

.explanation > p:nth-child(1) {
  width: 29%;
  animation: appearTop 1s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.explanation > p:nth-child(2) {
  width: 35%;
  text-align: end;
  animation: appearTop 1s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.title_cards {
  width: 94vw;
  height: 58vh;
  position: relative;
}

@keyframes appearTitle {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.8;
  }
}

.title {
  font-size: 12.35vw;
  font-family: var(--titles-font);
  margin-bottom: 0px;
  opacity: 0.8;
  z-index: 99;
  color: var(--main-text-color);
  position: absolute;
  bottom: -0.5vh;
  left: -1.4vw;
  line-height: 1;
  letter-spacing: -6px;
  animation: appearTitle 4s cubic-bezier(0.39, 0.575, 0.565, 1);
}

.cards {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  animation: appearTop 1s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.cards_overlay {
  position: absolute;
  top: 0;
  left: -5%;
  width: 110%;
  height: 100%;
  background-color: var(--fourth-bg-color);
  z-index: 10;
  opacity: 0.1;
}

.card {
  width: 18%;
  border-radius: 25px;
  position: absolute;
}

.card:nth-child(1) {
  z-index: 1;
  transform: translateX(-39.5vw);
  animation: card1 1s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
.card:nth-child(2) {
  z-index: 2;
  transform: translateX(-27vw);
  animation: card2 1s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
.card:nth-child(3) {
  z-index: 3;
  transform: translateX(-13vw);
  animation: card3 1s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
.card:nth-child(4) {
  z-index: 4;
  animation: card4 2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
.card:nth-child(5) {
  z-index: 3;
  transform: translateX(13vw);
  animation: card5 1s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
.card:nth-child(6) {
  z-index: 2;
  transform: translateX(27vw);
  animation: card6 1s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
.card:nth-child(7) {
  z-index: 1;
  transform: translateX(39.5vw);
  animation: card7 1s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

@keyframes card1 {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-39.5vw);
  }
}
@keyframes card2 {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-27vw);
  }
}
@keyframes card3 {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-13vw);
  }
}
@keyframes card4 {
  0% {
    transform: translateY(200%);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes card5 {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(13vw);
  }
}
@keyframes card6 {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(27vw);
  }
}
@keyframes card7 {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(39.5vw);
  }
}

.creadores_desktop {
  position: absolute;
  bottom: 10px;
  left: 0;
  display: flex;
  align-items: center;
  width: 100vw;
  height: auto;
  justify-content: space-between;
  animation: appearBottom 1s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.creadores_desktop > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.creadores_desktop > * {
  width: 33%;
}

.creadores_desktop .jimena {
  font-size: 14px;
  text-align: center;
  margin: 0;
}

.creadores_desktop > div > a {
  text-decoration: none;
  color: #5a5a5a;
  font-size: 14px;
  text-align: center;
  z-index: 100;
}

.creadores_desktop > div > a:hover {
  cursor: pointer;
}

.creadores_desktop > .carlos {
  font-size: 14px;
  font-weight: 400;
  text-align: end;
  margin-right: 2.5vw;
}

.creadores_desktop > .supreme {
  font-size: 14px;
  font-weight: 400;
  text-align: start;
  margin-left: 2.5vw;
}

@media only screen and (max-width: 768px) {
  .proximamente {
    font-size: 3vw;
    letter-spacing: 3.5px;
    margin-top: 22dvh;
  }

  .title_cards {
    width: 94vw;
    height: 26dvh;
    position: relative;
  }

  .title {
    width: 90vw;
    font-size: 14vw;
    margin-top: 0px;
    margin-bottom: 6px;
    line-height: 1;
    letter-spacing: -2px;
    left: -1vw;
  }

  .cards {
    width: 100vw;
  }

  .card {
    width: 30%;
    border-radius: 10px;
    position: absolute;
    animation: marginCard 1s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  }

  .card:nth-child(1) {
    margin-left: 8vw;
  }
  .card:nth-child(2) {
    margin-left: 4vw;
  }
  .card:nth-child(3) {
    margin-left: 1vw;
  }

  .card:nth-child(5) {
    margin-right: 6vw;
  }
  .card:nth-child(6) {
    margin-right: 12vw;
  }
  .card:nth-child(7) {
    margin-right: 20vw;
  }

  @keyframes marginCard {
    0% {
      margin: 0;
    }
    99% {
      margin: 0;
    }
    100% {
      margin: initial;
    }
  }

  .explanation {
    width: 90vw;
    font-size: 3vw;
    margin-top: 19dvh;
  }

  .explanation > p:nth-child(1) {
    width: 44%;
  }

  .explanation > p:nth-child(2) {
    width: 46%;
  }

  .creadores_desktop {
    position: absolute;
    bottom: 0;
    left: 0.5vw;
    display: flex;
    align-items: flex-end;
    width: 99vw;
    height: 20dvh;
  }

  .creadores_desktop > * {
    width: 33%;
  }

  .creadores_desktop > div:nth-child(2) {
    align-self: flex-start;
  }

  .creadores_desktop > .carlos {
    font-size: 3vw;
  }

  .creadores_desktop > .supreme {
    font-size: 3vw;
  }
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .App {
    height: 100dvh;
  }
  .proximamente {
    font-size: 3vw;
    letter-spacing: 3.5px;
    margin-top: 200px;
  }

  .title_cards {
    width: 94vw;
    height: 60vw;
    position: relative;
  }

  .title {
    width: 90vw;
    font-size: 14vw;
    margin-top: 0px;
    margin-bottom: 3vw;
    line-height: 1;
    letter-spacing: -2px;
    left: -1vw;
  }

  .cards {
    width: 100vw;
  }

  .card {
    width: 30%;
    border-radius: 10px;
    position: absolute;
    animation: marginCard 1s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  }

  .card:nth-child(1) {
    margin-left: 8vw;
  }
  .card:nth-child(2) {
    margin-left: 4vw;
  }
  .card:nth-child(3) {
    margin-left: 1vw;
  }

  .card:nth-child(5) {
    margin-right: 6vw;
  }
  .card:nth-child(6) {
    margin-right: 12vw;
  }
  .card:nth-child(7) {
    margin-right: 20vw;
  }

  @keyframes marginCard {
    0% {
      margin: 0;
    }
    99% {
      margin: 0;
    }
    100% {
      margin: initial;
    }
  }

  .explanation {
    width: 90vw;
    font-size: 2.5vw;
    margin-top: 135px;
  }

  .explanation > p:nth-child(1) {
    width: 44%;
  }

  .explanation > p:nth-child(2) {
    width: 52%;
  }

  .explanation > p:nth-child(2) > br {
    display: none;
  }

  .creadores_desktop {
    position: absolute;
    bottom: 0;
    left: 0.5vw;
    display: flex;
    align-items: flex-end;
    width: 99vw;
    height: 23vw;
  }

  .creadores_desktop > * {
    width: 33%;
  }

  .creadores_desktop > div:nth-child(2) {
    align-self: flex-start;
  }

  .creadores_desktop > div:nth-child(2) > * {
    font-size: 2.5vw;
  }

  .creadores_desktop > .carlos {
    font-size: 2.5vw;
  }

  .creadores_desktop > .supreme {
    font-size: 2.5vw;
  }
}
